{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 4,
                "printWidth": 100
            }
        },
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 4,
                "printWidth": 100
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "printWidth": 100
            }
        },
        {
            "files": "*.md",
            "options": {
                "printWidth": 80,
                "proseWrap": "always"
            }
        }
    ]
}

